@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: context-menu;
}

body {
    background-image: url('../img/background/background.jpg');
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: blur(15px);
}


main {
    background-color: rgba(0, 0, 0, 0.397);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.principal {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}


div.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    text-wrap: nowrap;
}

div.title h1 {
    font-size: clamp(2rem, 6vw, 6rem);
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.title h1 img {
    width: clamp(30px, 10vw, 85px);
}



div.title h2 {
    font-size: clamp(.8rem, 2vw, 1.9rem);
}

div.title h3 {
    font-size: clamp(.65rem, 1.5vw, 1.3rem);
}

section.register-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container a {
    height: 38px;
    padding: 3px;
    flex: 1;
    border: none;
    background-color: var(--button-primary);
    color: var(--text-color);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1), box-shadow 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    cursor: pointer;
    text-decoration: none;
}

.input-container a svg {
    fill: var(--text-color);
    background-color: transparent;
}

.input-container a:hover {
    background-color: var(--button-primary-hover);
}

.input-container a:active {
    transform: scale(.95);
}

section.features {
    width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.features p {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(.8rem, 1.8vw, 1.2rem);
}

.features p svg {
    fill: var(--text-color);
    aspect-ratio: 1/1;
    width: clamp(20px, 1.6vw, 35px);
}

/* WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrolBar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrolBar-bar);
    border-radius: 10px;
    border: 2px solid var(--scrolBar-background);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrolBar-hover);
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrolBar-bar) var(--scrolBar-background);
}


:root {
    /*General*/
    --background: #130c27;
    --text-color: #F5F0FE;

    /*Buttons*/
    --button-primary: #7230f7;
    --button-primary-hover: #641ee3;

    /*Scroll bar*/
    --scrolBar-background: #170F2F;
    --scrolBar-bar: #392574;
    --scrolBar-hover: #392574;

}