@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: context-menu;
}

body {
    background-image: url('../img/background/background.jpg');
    background-color: #1f1359;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: blur(10px);

}

main {
    background-color: rgba(0, 0, 0, 0.397);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.principal {
    color: #f4f6f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}


div.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    text-wrap: nowrap;
}

div.title h1 {
    font-size: clamp(2rem, 6vw, 6rem);
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.title h1 img {
    width: clamp(30px, 10vw, 85px);
}



div.title h2 {
    font-size: clamp(.8rem, 2vw, 1.9rem);
}

div.title h3 {
    font-size: clamp(.65rem, 1.5vw, 1.3rem);
}

section.register-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container a {
    height: 38px;
    padding: 3px;
    flex: 1;
    border: none;
    background-color: #6244e3;
    color: #f4f6f0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1), box-shadow 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    cursor: pointer;
}

.input-container a svg {
    fill: #f4f6f0;
    background-color: transparent;
}

.input-container a:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 8px 0px #9891f4;
}

.input-container a:active {
    background-color: #5332cf;
    transform: scale(1);
    box-shadow: none;
}

section.features {
    width: 100%;
    color: #f4f6f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.features p {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(.8rem, 1.8vw, 1.2rem);
}

.features p svg {
    fill: #f4f6f0;
    aspect-ratio: 1/1;
    width: clamp(20px, 1.6vw, 35px);
}