:root {
    --background: #130c27;
    --text-color: #F5F0FE;
    --text-color-label_name: #f5f0fe62;
    --button-primary: #7230f7;
    --button-primary-hover: #641ee3;
    --button-primary-disabled: #9f85ff;
    --scrolBar-background: #170F2F;
    --scrolBar-bar: #392574;
    --scrolBar-hover: #392574;
    --input-background: #17102c;
    --input-disabled-bg: #170F2F;
    --input-disabled-border: #26184e;
    --input-border: #26184e;
    --input-border-hover: #5e3dc2;
    --input-focus: #26184e;
    --input-focus-visible: #26184e;
    --soft-green: #b5f73093;
    --card-bg: #170f2fd7;
    --card-shadow: #110B22;
    --alert-background: #170F2F;
    --alert-success: #B5F730;
    --alert-warning: #ffd000;
    --alert-error: #F73051
}