article.alert {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--card-bg);
    box-shadow: 0 0 15px 0 var(--card-shadow);
    z-index: 100;
    position: absolute;
    margin-top: 15px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) !important
}

@media only screen and (max-width:768px) {
    article.alert {
        flex-wrap: wrap
    }

    article .alert-icon {
        width: 100%
    }

    article .alert-text {
        text-align: center;
        width: 100%
    }
}

article .alert-icon {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--text-color-label_name);
    display: flex;
    align-items: center;
    justify-content: center
}

article .alert-icon.success {
    border-color: var(--alert-success)
}

article .alert-icon.warning {
    border-color: var(--alert-warning)
}

article .alert-icon.error {
    border-color: var(--alert-error)
}

article .alert-icon img {
    max-width: 45px
}

article .alert-text {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--text-color-label_name)
}

article .alert-text h1 {
    font-size: 1.2rem
}

article .alert-text p {
    font-size: .9rem
}

article .alert-text a {
    text-decoration: none;
    color: var(--button-primary);
    cursor: pointer
}

.alert.show {
    animation: alert_appear .9s cubic-bezier(.33, 1, .68, 1) forwards
}

.alert.hide {
    animation: alert_disappear 1.5s cubic-bezier(.33, 1, .68, 1) forwards
}

@keyframes alert_appear {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes alert_disappear {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}