body {
    background-image: url('../img/background/login_background.jpg');
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    opacity: 1;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    display: block;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: context-menu;
}

.tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    color: var(--text-color);
}

.tittle svg {
    fill: var(--text-color);
    width: 25px;
    height: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-width: 330px;
    max-width: 370px;
    padding: 18px;
    border-radius: 8px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 8px;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: .9rem;
}

.link-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.link-options a {
    font-size: .76rem;
    text-decoration: none;
    cursor: pointer;
}

.action_btn {
    gap: 3px;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
    height: 38px;
    min-height: 38px;
    min-width: 38px;
    width: 100%;
    font-size: 14px;
    background-color: var(--button-primary);
}

.action_btn svg {
    width: 20px;
}

.action_btn:not(.disable):hover {
    background-color: var(--button-primary-hover);
}

.divisor {
    position: relative;
    width: 100%;
    margin: 20px;
}

.divisor p {
    position: absolute;
    font-size: .8rem;
    left: 50%;
    top: -12px;
    transform: translate(-50%);
    background-color: var(--form-background);
    color: var(--dividingLine-color);
    padding: 4px;
}

.divisor hr {
    border-top: 1px solid var(--dividingLine-color);
    border-bottom: none;
    border-left: none;
    border-right: none;

}

.google-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--button-primary);
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

dialog {
    width: 352px;
}

.dialog-header {
    justify-content: center;
}

.dialog-body {
    background-color: var(--form-background);
}

.dialog-body .form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.dialog-body form button {
    margin-top: 20px !important;
}