<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elipticnet || Account Notification</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

    body {
        font-family: "Lexend", sans-serif;
    }

    p {
        font-weight: 300;
        font-size: 13px;
    }

    h1 {
        font-size: 32px;
    }

    small {
        font-size: 13px;
        font-weight: 600;
    }

    a {
        font-weight: 600;
        color: #7230f7;
        text-decoration: none;
    }
</style>

<body style="margin: 0; padding: 0; color: #F5F0FE;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 20px; text-align: center;">
        <tr>
            <td align="center" style=" width:600px">
                <!-- Card -->
                <div style="width: 600px;">
                    <!-- Titulo -->
                    <div
                        style="background-color: #170F2F; border-radius: 8px; padding: 15px; max-width: 100%; text-align: center;">

                        <img style="width: 50px; font-size: 32px;"
                            src="http://127.0.0.1:5500/aplication/img/public/lock_reset.png" alt="🔄">
                        <h1>
                            Password Recovery Request
                        </h1>
                    </div>

                    <!-- Tabla presentacion -->
                    <div
                        style="color: black; border: 1px solid rgba(128, 128, 128, 0.192); border-radius: 8px; padding: 15px;margin: 10px 0;">

                        <div style=" text-align: left;">
                            <p>Hello {get_user_name(owner)},</p>

                            <p>We’ve received your request to reset your password. To proceed, please click the button
                                below to create a new password</p>
                        </div>

                        <!-- Botón -->
                        <div style="text-align: center;">
                            <a href="#"
                                style="display: inline-block; padding: 12px 20px; background-color: #7230f7; color: white; text-decoration: none; border-radius: 8px; font-size: 16px; margin: 25px 0;">
                                Reset password
                            </a>
                        </div>

                        <p>For security reasons, this link will expire in 24 hours. <span style="font-weight: 600;">If
                                you didn’t request a password reset</span>, please
                            ignore this email or contact our <a
                                href="mailto:support@elipticnet.com?subject=Support%20Request&body=Please%20provide%20details%20about%20your%20issue.">support
                                team</a> immediately.
                        </p>


                        <p style="margin-top: 50px;">Thank you for using <a href="{DOMAIN}">Elipticnet</a>.
                        </p>

                    </div>




                    <footer style="margin-top: 10px; text-align: center;">
                        <small style="color: black; font-size: 12px; margin-top: 20px; display: inline-block;">
                            This email was sent by <a href="{DOMAIN}">elipticnet.com</a>.
                        </small>
                    </footer>

                </div>
            </td>
        </tr>
    </table>
</body>

</html>